/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.logo img {
	width: 200px;
}
.signup-step-wrap .single-setup {
	padding: 55px 60px;
}
.footer-social ul li a {
	height: 40px;
	width: 40px;
	line-height: 40px;
	font-size: 14px;
}
.signup-step-wrap .single-setup::before {
	left: 130px;
}
.signup-step-wrap .single-setup:last-child::before {
	left: auto;
	right: 130px;
}
.from-gander {
	margin-right: 25px;
}
.from-zip {
	width: 170px;
	margin-right: 25px;
}
.slider-content h2 {
	font-size: 44px;
}
.slider-content p {
	padding-right: 0px;
}
.slider-padding {
	padding-top: 150px;
	padding-bottom: 150px;
}
.about-img::before {
	left: -20px;
	top: -20px;
	width: 150px;
}
.about-img::after {
	right: -20px;
	bottom: -20px;
	height: 155px;
	width: 200px;
}
.single-hiw::before {
	left: 47%;
	top: 0;
}
.features-content h4 {
	font-size: 24px;
}
.impressed-wrap .impressed-col {
	width: 50%;
}
.authorized-list ul li span {
	width: 65%;
}

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.header-login-btn {
	margin-right: 90px;
	margin-left: 0;
}
.header-wrap {
	padding: 15px 0 0;
}
.single-steps a {
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-size: 22px;
}
.single-steps h4 {
	font-size: 20px;
}
.signup-step-wrap .single-setup::before {
	left: 95px;
}
.signup-step-wrap .single-setup:last-child::before {
	left: auto;
	right: 95px;
}
.signup-step-wrap .single-setup {
	padding: 55px 60px;
}
.signup-step-wrap .general-test-box input:first-child {
	width: 54%;
}
.slider-padding {
	padding-top: 150px;
	padding-bottom: 150px;
}
.about-img::before {
	left: 0px;
	top: -20px;
	width: 150px;
}
.about-img::after {
	right: 0px;
	bottom: -20px;
	height: 155px;
	width: 200px;
}
.slider-content p {
	padding-right: 0;
}
.slider-form {
	margin: 0 120px;
	margin-bottom: 60px;
}
.about-img {
	text-align: center;
	margin-bottom: 50px;
}
.about-img img {
	width: auto;
}
.single-hiw {
	padding: 0;
}
.single-hiw::before {
	display: none;
}
.features-content h4 {
	font-size: 24px;
}
.testimonial-content p {
	padding: 0 25px;
}
.download-img {
	text-align: center;
	margin-bottom: 40px;
}
.impressed-wrap .impressed-col {
	width: 50%;
}
.authorized-list ul li span {
	width: 60%;
}
.profile-sidebar-wrap {
	margin-top: 50px;
}

}


/* small mobile :320px. */
@media (max-width: 767px) {
.header-login-btn {
	margin-right: 90px;
	margin-left: 0;
}
.header-wrap {
	padding: 20px 0 5px;
}
.mean-container a.meanmenu-reveal {
	margin-top: -50px;
}
.logo img {
	width: 200px;
}
.signup-step-wrap .signup-title {
	font-size: 42px;
}
.steps-row.setup-panel {
	display: block !important;
	overflow: hidden;
}
.single-steps {
	text-align: center;
	float: left;
	width: 50%;
	margin-bottom: 30px;
}
.single-steps a {
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-size: 22px;
}
.single-steps h4 {
	font-size: 20px;
}
.signup-step-wrap .single-setup::before {
    display: none;
}
.signup-step-wrap .single-setup {
    padding: 45px 20px;
    margin-top: 20px;
}
.signup-step-wrap .general-test-box input:first-child {
	width: 54%;
}
.signup-step-wrap .form-check-box {
	display: flex;
	align-items: self-start;
}
.signup-step-wrap .form-check-box input {
	margin-right: 10px;
	margin-top: 5px;
}
.setup-content .btn {
    font-size: 14px;
}
#scrollUp {
	right: 30px;
	bottom: 30px;
}
.slider-padding {
	padding-top: 100px;
	padding-bottom: 100px;
}
.about-img::before {
	left: 0px;
	top: -20px;
	width: 150px;
}
.about-img::after {
	right: 0px;
	bottom: -20px;
	height: 155px;
	width: 200px;
}
.slider-content p {
	padding-right: 0;
}
.slider-form {
	margin: 0;
	margin-bottom: 60px;
	padding: 30px 20px 40px 20px;
}
.slider-form h3 {
	font-size: 26px;
}
.from-zip {
	width: 100%;
	margin-right: 0;
	float: unset;
}
.from-country > .selected {
	width: 100%;
}
.slider-content h2 {
	font-size: 42px;
}
.slider-content {
	text-align: center;
}
.slider-content .btn {
	padding: 21px 16px;
}
.slider-content .btn.transparent-btn {
	padding: 19px 15px;
	margin-left: 15px;
}
.about-img {
	text-align: center;
	margin-bottom: 50px;
}
.about-img img {
	width: 100%;
}
.section-title h2 br {
	display: none;
}
.single-hiw {
	padding: 0;
}
.single-hiw::before {
	display: none;
}
.features-content h4 {
	font-size: 24px;
}
.testimonial-content p {
	padding: 0 20px;
}
.download-img {
	text-align: center;
	margin-bottom: 40px;
}
.download-img img {
	width: 100%;
}
.heart-shape {
	top: -75px;
	width: 100%;
}
.user-resume-wrapper {
	padding: 55px 20px;
}
.compatibility-test {
	margin: 0 auto;
	margin-bottom: 40px;
}
.impressed-wrap .impressed-col {
	width: 100%;
}
.authorized-list ul li span {
	width: 100%;
}
.user-resume-title h4 {
	font-size: 14px;
	padding: 15px 20px;
}
.authorized-list ul li {
	padding-left: 0;
	padding-right: 0;
}
.authorized-list ul li span {
	width: 55%;
	display: block;
	margin-bottom: 7px;
}
.profile-sidebar-wrap {
	margin-top: 50px;
}
.impressed-list ul li a.btn {
	width: 100%;
}
.impressed-list ul li span {
	width: 105px;
}
.find-partner-meta form {
	display: block;
}
.selection-age {
	display: inline-block;
}
.find-city {
	margin-left: 0;
}
.find-city > .selected {
	width: 100%;
	margin: 15px 0;
}
.find-profession {
	margin-left: 0;
}
.find-profession > .selected {
	width: 100%;
}
.partner-list > ul > li {
	display: block;
	padding: 20px 20px 20px;
}
.partner-thumb {
	margin-bottom: 20px;
}
.partner-info {
	margin-bottom: 20px;
}

}

/* Large Mobile :480px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
.signup-step-wrap .single-setup {
	padding: 55px 40px;
	margin-top: 20px;
}
.slider-form {
	padding: 30px 35px 40px 35px;
}
.slider-content .btn {
	padding: 21px 25px;
}
.slider-content .btn.transparent-btn {
	padding: 19px 25px;
	margin-left: 25px;
}
.single-hiw {
	padding: 0 55px;
}
.download-img img {
	width: auto;
}
.testimonial-content p {
	padding: 0 15px;
}
.slider-padding {
	padding-top: 150px;
	padding-bottom: 150px;
}
.impressed-wrap .impressed-col {
	padding-left: 25px;
	padding-right: 25px;
}
.authorized-list ul li {
	padding-left: 25px;
	padding-right: 25px;
}
.authorized-list ul li span {
	width: 65%;
	display: inline-block;
	margin-bottom: 0;
}
.compatibility-test {
	margin-bottom: 0px;
}
.partner-list > ul > li {
	display: flex;
}
.partner-thumb {
	margin-bottom: 0;
}
.partner-info {
	margin-bottom: 0;
}

}
